# MayteraOS background services (#95)
# Fields:  name  exec-path  account  uid  perms  autostart  enabled
#   perms: comma list of net,fs,spawn,input,all
#
# The kernel always registers a built-in "heartbeat" default; lines here
# override that by name and add additional services.
heartbeat /APPS/SVCHB svc_hb 0 fs 1 1
netinfo /APPS/NETINFO svc_net 0 net,fs 1 1
